<footer>
  <div class="footer-info">
  <div class="footer-socials">
   <!-- <a href="https://www.instagram.com/_aditya__kapoor_"  target="_blank"> -->
     <i class="fa-brands fa-square-instagram"></i>
    <!-- </a> -->
   <!-- <a href="linkedin.com/in/aditya-kapoor-799b76287"  target="_blank"> -->
    <i class="fa-brands fa-linkedin"></i>
  <!-- </a>
   <a href="gmail.com/akapoor22it@student.mes.ac.in"  target="_blank"> -->
    <i class="fa-solid fa-envelope"></i>
  <!-- </a> -->
   
  </div>
  <div class="company-name">&copy; Wonder Hotels Pvt Ltd</div>
  <div class="imp-links">
    <a href="/privacy" class="terms">Privacy</a>
    <a href="/terms" class="terms">Terms</a>

  </div>
</div>
</footer>